@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
  --radius-10: 10px;
  --linear-12: rgba(255, 255, 255, 0.12);
  --bg-strong-950: #171717;
}

@theme {
  --breakpoint-2xl: 1440px;
}
@theme inline {
  --font-serif: var(--font-instrument-serif);
  --font-mono: var(--font-dm-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-mono), serif;
}

/* Default button style - components/fancy-buttons/neutral */
.btn-default {
border-radius: var(--radius-10, 10px);
border: 1px solid var(--linear-12, rgba(255, 255, 255, 0.12));
background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.00) 100%), var(--bg-strong-950, #171717);

/* components/fancy-buttons/neutral */
box-shadow: 0 1px 2px 0 rgba(27, 28, 29, 0.48), 0 0 0 1px #242628;
}
